.card-task {
    display: block;
    background-color: $brand;
    padding: 10px;
    border-radius: 15px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        color: $surface;
    }

    &__amount {
        font-size: 16px;
        font-weight: 600;
        color: $surface;
        text-wrap: nowrap;
        text-align: right;
    }

    &__description {
        display: block;
        font-size: 14px;
        font-weight: 400;
        color: $surface;
        margin-bottom: 10px;
    }
}