mixin CardTask(title, amount, description)
    article.card-task&attributes(attributes)
        div.__row
            h4.__title= title
            p.__amount= amount
        p.__description= description
        +Button(
            "taskButton", 
            "xs",
            "surface",
        ).__button
            | Claim