include ../../widgets/CardBalance/CardBalance.pug
include ../../widgets/CardNews/CardNews.pug
include ../../widgets/TransactionList/TransactionList.pug

mixin Main()
    section.main.container
            +CardBalance().__balance
            +CardNews().__news
            +TransactionList().__list
