.main {
    @include center();
    width: 100vw;
    height: 100vh;

    &__balance {
        margin-top: 70px;
    }

    &__news {
        margin-top: 15px;
    }

    &__list {
        margin-top: 15px;
        margin-bottom: 100px;
    }
}