include ../../entities/CardTransaction/CardTransaction.pug
include ../../features/FilterButton/FilterButton.pug

mixin TransactionList()
    div.transaction-list&attributes(attributes)
        .__row
            h2.__title Список транкзаций
            +FilterButton().__filter
        p.__label Сегодня
        +CardTransaction(
            'Перевод',
            'На: Тn9nsJ91m...JANSJFMS',
            '-125 TON'
        ).__item
        p.__label Вчера
        +CardTransaction(
            'Перевод',
            'На: Тn9nsJ91m...JANSJFMS',
            '-125 TON'
        ).__item
        +CardTransaction(
            'Перевод',
            'На: Тn9nsJ91m...JANSJFMS',
            '-125 TON'
        ).__item
        +CardTransaction(
            'Перевод',
            'На: Тn9nsJ91m...JANSJFMS',
            '-125 TON'
        ).__item