@import "steps/Welcome/Welcome.scss";
@import "steps/Data/Data.scss";
@import "steps/Receiver/Receiver.scss";

.auth {
    $b: &;

    @include center();
    width: 100vw;
    height: 100vh;

    &.is-welcome {
        #{$b}__welcome {
            opacity: 1;
            z-index: 3;
        }
    }

    &.is-data {
        #{$b}__data{
            opacity: 1;
            z-index: 3;
        }
    }

    &.is-receiver {
        #{$b}__receiver {
            opacity: 1;
            z-index: 3;
        }
    }
}