include ../../../../shared/Button/Button.pug
include ../../../../shared/Input/Input.pug

mixin Data()
    div.data.container&attributes(attributes)
        h2.__title CREATE ACCOUNT
        h3.__subtitle Address
        p.__description We have created a unique .tg address for you, which is similar to your telegram nickname.
        +Input(
            'Enter telegram nickname',
        ).__field
        h3.__subtitle Seed phrase
        p.__description Copy your seed phrase right now to avoid losing your account!
        +Input(
            'Enter seed phrase',
            '6qodCzWFX1J53hJiC2xyMEVEkGj5ZEnnZKfWAHUlLKFQETBuy1VN4BSBjip9rRg8xLzCDaedYNHFfZ0LA2MkrVc'
        ).__field
        +Button(
            'createAccountNext',
            'm',
            'brand'
        ).__button CONTINUE
                