.data {
    $b: &;

    @include center();

    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity: 0;

    overflow-x: hidden;
    overflow-y: auto;

    transition: 0.3s ease;
    transition-property: opacity;

    &__title {
        font-size: 30px;
        font-weight: 800;
        width: 100%;
        color: $brand;
        margin-top: 30px;
    }

    &__subtitle {
        font-size: 20px;
        font-weight: 800;
        width: 100%;
        color: $brand;
        margin-top: 20px;
    }

    &__description {
        font-size: 14px;
        font-weight: 400;
        width: 100%;
        color: $brand;
        margin-top: 5px;
    }

    &__field {
        width: 100%;
        margin-top: 10px;
    }

    &__button {
        position: absolute;
        width: calc(100% - #{wp(40)});
        left: wp(20);
        bottom: hp(20);
        padding: 20px;
        box-sizing: border-box;
    }
}