mixin FilterButton()
    button(
        id="filtersButton"
    ).filter-button&attributes(attributes)
        +Image(
            './images/common/filters',
            'filters',
            'png'
        ).__image