include ../../../../shared/Textarea/Textarea.pug

mixin Receiver()
    div.receiver.container&attributes(attributes)
        h2.__title RECOVER USING SEED PAHRASE
        p.__description Enter the backup passphrase associated with the account.
        +Textarea(
            placeholder="Seed or private  key"
        ).__field
        +Button(
            'createReceiverNext',
            'm',
            'brand'
        ).__button Continue