mixin NavBar()
    footer.navbar.is-hidden 
        button 
            +Image(
                "./images/NavBar/wallet", 
                "wallet",
                "png"
            )
            p Wallet
        button 
            +Image(
                "./images/NavBar/farming", 
                "farming",
                "png"
            )
            p Farming
        button 
            +Image(
                "./images/NavBar/tasks", 
                "farming",
                "png"
            )
            p Tasks