.friends {
    @include center();
    width: 100vw;
    height: 100vh;

    &__title {
        font-size: 30px;
        width: 100%;
        margin-top: 66px;
        color: $brand;
        font-weight: 800;
    }

    &__description {
        font-size: 14px;
        width: 100%;
        color: $brand;
        margin-top: 5px;
        margin-bottom: 16px;
    }

    &__invite {
        margin-bottom: 16px;
    }

    &__rewards {
        margin-bottom: 16px;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 800;
        color: $brand;
        margin-bottom: 16px;
    }

    &__item {
        & + & {
            margin-top: 10px;
        }
    }

    &__next-page {
        margin-top: 16px;
        margin-bottom: 100px;
    }
}