include ../../entities/CardPool/CardPool.pug

mixin Farming()
    section.farming
        div.__container
            h1.__title Пулы для фарминга
            p.__description 
                | Вы можете добавить свои средства в пул, и получать с этого пасивный доход.
                a Поподробнее...
            +CardPool(
                "TON 1 MONTH",
                "9.99",
                "9.925,12 TON",
                "5.50 TON",
                "0.002545 TON"
            ).__item
            +CardPool(
                "TON 1 MONTH",
                "9.99",
                "9.925,12 TON",
                "5.50 TON",
                "0.002545 TON"
            ).__item
            +CardPool(
                "TON 1 MONTH",
                "9.99",
                "9.925,12 TON",
                "5.50 TON",
                "0.002545 TON"
            ).__item
            +CardPool(
                "TON 1 MONTH",
                "9.99",
                "9.925,12 TON",
                "5.50 TON",
                "0.002545 TON"
            ).__item
            +CardPool(
                "TON 1 MONTH",
                "9.99",
                "9.925,12 TON",
                "5.50 TON",
                "0.002545 TON"
            ).__item