include ../../entities/CardPool/CardPool.pug

mixin Farming()
    section.farming.container
        h1.__title FARMING POOL
        p.__description 
            | You can add your funds to the pool and receive passive income from it. 
            a More details...
        +CardPool(
            "TON 1 MONTH",
            "9.99",
            "9.925,12 TON",
            "5.50 TON",
            "0.002545 TON"
        ).__item
        +CardPool(
            "TON 1 MONTH",
            "9.99",
            "9.925,12 TON",
            "5.50 TON",
            "0.002545 TON"
        ).__item
        +CardPool(
            "TON 1 MONTH",
            "9.99",
            "9.925,12 TON",
            "5.50 TON",
            "0.002545 TON"
        ).__item
        +CardPool(
            "TON 1 MONTH",
            "9.99",
            "9.925,12 TON",
            "5.50 TON",
            "0.002545 TON"
        ).__item
        +CardPool(
            "TON 1 MONTH",
            "9.99",
            "9.925,12 TON",
            "5.50 TON",
            "0.002545 TON"
        ).__item