.card-pool {
    background-color: $brand;
    padding: 10px;
    border-radius: 15px;

    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__title {
        font-size: 14px;
        font-weight: 600;
        color: $surface;
        text-align: left;
    }

    &__permonth {
        font-size: 16px;
        text-align: right;
        font-weight: 600;
        color: $surface;
    }

    &__info {
        font-size: 14px;
        color: $surface;
    }

    &__button {
        margin-top: 10px;

        & + & {
            margin-top: 5px;
        }
    }
}