mixin Loading
    div.loading&attributes(attributes)
        +Background
        .__center
            +Image(
                './images/Auth/spinner',
                'loader',
                'png'
            ).__image
            p.__description CREATING YOUR ACCOUNT