.loading {
    $b: &;

    @include center();

    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity: 0;

    overflow-x: hidden;
    overflow-y: auto;

    transition: 0.3s ease;
    transition-property: opacity;

    &__center {
        @include center();
        width: 100%;
    }

    &__percent {
        text-align: center;
        font-size: 26px;
        line-height: 31px;
        font-weight: 600;
    }

    &__description {
        text-align: center;
        font-size: 18px;
        line-height: 21px;
        font-weight: 600;
        margin-top: 10px;
    }

    &__bottom {
        @include center(horizontal);
        bottom: 50px;
        width: 100%;
        text-align: center;

        p {
            display: inline-block;
            text-align: center;
            font-weight: 600;

            &:nth-child(1) {
                font-size: 17px;
                line-height: 20px;
                color: #313135;
            }

            &:nth-child(2) {
                text-align: left;
                vertical-align: top;
                padding-left: 5px;
                font-size: 14px;
                line-height: 17px;
                color: #665B55;
            }
        }
    }
}