include ../../entities/CardTask/CardTask.pug

mixin Tasks()
    section.tasks.container
        h1.__title YOUR MISSIONS
        p.__description Complete the missions to get the BONK
        +CardTask( 
            "Welcome bonus",
            "10.000 BONK",
            "Description Description Description Description Description Description Description Description Description"
        ).__item
        +CardTask(
            "Welcome bonus",
            "10.000 BONK",
            "Description Description Description Description Description Description Description Description Description"
        ).__item
        +CardTask(
            "Welcome bonus",
            "10.000 BONK",
            "Description Description Description Description Description Description Description Description Description"
        ).__item
        +CardTask(
            "Welcome bonus",
            "10.000 BONK",
            "Description Description Description Description Description Description Description Description Description"
        ).__item
        +CardTask(
            "Welcome bonus",
            "10.000 BONK",
            "Description Description Description Description Description Description Description Description Description"
        ).__item
        +CardTask(
            "Welcome bonus",
            "10.000 BONK",
            "Description Description Description Description Description Description Description Description Description"
        ).__item
        +CardTask(
            "Welcome bonus",
            "10.000 BONK",
            "Description Description Description Description Description Description Description Description Description"
        ).__item
        +CardTask(
            "Welcome bonus",
            "10.000 BONK",
            "Description Description Description Description Description Description Description Description Description"
        ).__item
