include ../../entities/CardTask/CardTask.pug

mixin Tasks()
    section.tasks
        div.__container
            h1.__title 5 missions available
            p.__description Complete the missions to get the BONK
            +CardTask(
                "Welcome bonus",
                "10.000 BONK"
            ).__item
            +CardTask(
                "Welcome bonus",
                "10.000 BONK"
            ).__item
            +CardTask(
                "Welcome bonus",
                "10.000 BONK"
            ).__item
            +CardTask(
                "Welcome bonus",
                "10.000 BONK"
            ).__item
            +CardTask(
                "Welcome bonus",
                "10.000 BONK"
            ).__item
            +CardTask(
                "Welcome bonus",
                "10.000 BONK"
            ).__item
            +CardTask(
                "Welcome bonus",
                "10.000 BONK"
            ).__item
            +CardTask(
                "Welcome bonus",
                "10.000 BONK"
            ).__item
