.welcome {
    @include center();

    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity: 0;

    transition: 0.3s ease;
    transition-property: opacity;

    &__decoration {
        width: wp(100);
        margin-top: hp(100);
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        font-size: 35px;
        font-weight: 800;
        color: $brand;
        width: 100%;
        text-align: center;
        margin-top: hp(50);
    }

    &__description {
        font-size: 20px;
        font-weight: 600;
        color: $brand;
        width: 100%;
        text-align: center;
        margin-top: hp(5);
    }

    &__buttons {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 20px;
        box-sizing: border-box;
    }

    &__button {
        &:nth-child(2) {
            margin-top: 10px;
        }
    }
}