include ../../../../shared/Image/Image.pug
include ../../../../shared/Button/Button.pug
include ../../../../shared/Background/Background.pug

mixin Welcome()
    div.welcome&attributes(attributes)
        +Background
        +Image(
            './images/Auth/auth-main',
            'decoration',
            'png'
        ).__decoration
        h1.__title HOT WALLET
        p.__description Next generation Telegram Multichain MPC wallet.
        .__buttons
            +Button(
                'createAccountButton',
                'm',
                'surface'
            ).__button
                | CREATE ACCOUNT
            +Button(
                'login',
                'm',
                'brand'
            ).__button
                | LOG IN
