.button-component {
    display: block;
    box-sizing: border-box;
    width: 100%;

    &--view {
        &-brand {
            background: $brand;
            color: $surface;
        }

        &-surface {
            background: $surface;
            border: 2px solid $brand;
            color: $brand;
        }

        &-flat {
            background: transparent;
            border: 2px solid $surface;
            color: $surface;
        }
    }

    &--size {
        &-m {
            padding: 15px 20px;
            font-size: 16px;
            font-weight: 600;
            border-radius: 20px;
        }

        &-s {
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 600;
            border-radius: 10px;
        }

        &-xs {
            padding: 10px 15px;
            font-size: 16px;
            font-weight: 600;
            border-radius: 20px;
        }

        &-xxs {
            padding: 7px 10px;
            font-size: 14px;
            font-weight: 600;
            border-radius: 20px;
        }
    }
}