extends layout.pug

include ./widgets/Header/Header.pug
include ./widgets/NavBar/NavBar.pug
include ./widgets/NotificationsModal/NotificationsModal.pug
include ./widgets/FarmingModal/FarmingModal.pug

include ./pages/Auth/Auth.pug
include ./pages/Main/Main.pug
include ./pages/Farming/Farming.pug

block content
  +Header
  main
    +Auth
    +Main
    +Farming
  +NavBar
  +NotificationsModal
  +FarmingModal
