mixin CardTransaction(title, description, amount, type)
    article.card-transaction&attributes(attributes)
        .__square 
            +Image(
                `./images/common/${type}`,
                type,
                'png'
            )
        div
            p.__title= title
            p.__description= description
        p.__amount= amount
