.card-transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $brand;
    padding: 5px 10px;
    border-radius: 15px;

    &__square {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        aspect-ratio: 1;
        border-radius: 10px;
        background-color: $surface;
        margin-right: 10px;

        picture,
        img {
            width: 20px;
            height: 20px;
        }
    }

    &__title {
        font-size: 12px;
        font-weight: 600;
        color: $surface;
        margin-bottom: 5;
        text-wrap: nowrap;
    }

    &__description {
        font-size: 10px;
        font-weight: 600;
        color: $surface;
        text-wrap: nowrap;
    }

    &__amount {
        display: block;
        font-size: 12px;
        font-weight: 600;
        color: $surface;
        margin-left: auto;
        text-wrap: nowrap;
    }
}