.info-cell {
    padding: 5px 10px;
    border-radius: 15px;
    background-color: $brand;
    display: flex;
    align-items: center;

    &__square {
        padding: 7.5px;
        border-radius: 10px;
        background-color: $surface;
        margin-right: 10px;

        picture,
        img {
            width: 20px;
            aspect-ratio: 1;
        }
    }

    &__title {
        font-size: 12px;
        color: $surface;
        font-weight: 600;

        text-align: left;
        width: 100%;
    }

    &__description {
        font-size: 10px;
        color: $surface;
        font-weight: 600;
        margin-top: 5px;

        text-align: left;
        width: 100%;
    }

    &__arrow {
        display: block;
        width: 15px;
        height: 15px;
        margin-left: auto;
    }
}