mixin InfoCell(icon, title, description)
    div.info-cell&attributes(attributes)
        .__square
            +Image(
                `./images/common/${icon}`,
                'icon',
                'png'
            )
        div.__info
            p.__title= title
            if description
                p.__description= description
        +Image(
            `./images/common/arrow-right`,
            'icon',
            'png'
        ).__arrow
        